

<a [routerLink]="['/']">
     
    <nav class="navbar .nav-pills">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dashboard ACA</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <!-- <li><a href="#">ACA Tracking</a></li> -->
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="#">ACA Tracking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="#">ACA Reporting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="#"><i>iSync</i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="#">EEOC Reporting</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="#">Benefits Analysis Toolkit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="#">ACA Audit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="#">LABI Tracker</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="#">Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="#">Admin</a>
              </li>
    
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

