<!-- <p>apps works!</p> -->





<!-- start Benefits Analysis Toolkit Modules -->


<mat-grid-list cols="1">
    <mat-grid-tile>
        <div class="app_main">
            <h3 class="benefits">Benefits Analysis Toolkit Modules</h3>
            <div class="Primary_Modules">
                <img src="../../../../assets/benfits.png" alt="">
                <h3>Primary Modules</h3>
            </div>
            <div class="module">
                <h4 [routerLink]="'/createnewclient'"> Module 1: Create New Client</h4>
            </div>
            <div class="module">
                <h4>Module 2: Employer Survey</h4>
            </div>
            <div class="module">
                <h4>Module 3: Employer Survey Management</h4>
            </div>
            <div class="Primary_Modules">
                <img src="../../../../assets/user_profile.png" alt="">
                <h3>Secondary Modules</h3>
            </div>
            <div class="module">
                <h4>Full-time Equivalent Employee Calculator</h4>
            </div>
            <div class="module">
                <h4>Cadillac Tax Module</h4>
            </div>
            <div class="module">
                <h4>Impact of Converting Full-Time Employees to Part-Time</h4>
            </div>
            <div class="module">
                <h4>Employer ACA Decision Tree 2.0</h4>
            </div>
            <div class="module">
                <h4>Plan(s) Summary Module</h4>
            </div>
            <div class="module">
                <h4>Small Business Health Care Tax Credit Calculator</h4>
            </div>
            <div class="module">
                <h4>Training Videos</h4>
            </div>
            <div class="module">
                <h4>Resource Links</h4>
            </div>
            <div class="module">
                <h4>EEO-1 Report Selectort</h4>
            </div>
            <div class="module">
                <h4>EEO-1 Reporting Job Category Smart Import</h4>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>