<div class="data-section">
    <div class="eeoc-home">
        <h2 style="font-weight: bold; color: #1591b8;
        text-align: center;">EEOC Reporting Home</h2>
        
    </div>
    <div class="main-row">
        <div style="width: 40%;padding: 60px;">
            <div
            style="border-style:solid ;border-radius: 22px;border-color:rgba(12, 141, 240, 0.596);background-color: rgba(169, 234, 234, 0.388);padding: 10px;height: 160px;width: 300px;margin-top: 5px;">
            <div style="display: flex;
            justify-content: center;">  <img src="../../../../assets/calendar.png" height="60px" width="60px" style="margin-top: 15px;"><br>
            </div>
            <p  style="display: flex;
            justify-content: center;margin-top: 20px;">Workforce Snapshot :</p>
         <p  style="display: flex;
         justify-content: center;margin-top: 10px;">10/07/2021</p>
        </div>
        </div>
        <div style="width: 60%;padding: 60px;">
        <div><h2>CBIZ EEOC Demo</h2></div>
        <div>
            <table>
                <tr style="border-bottom: 2px solid rgb(41, 161, 194);border-top:3px solid rgb(41, 161, 194) ;">
                <th><img src="../../../../assets/statistics.png" style="float:left;height:40px;margin-right: 4px;"><p style="margin-top: 10px;"> Critical Data Elements</p></th>
                <th>Count</th>
             
                </tr>
                <tr style="border-top: 3px solid rgb(41, 161, 194);">
                <td>Total Number Of Employees</td>
                <td>0</td>
            
                </tr>
                <tr>
                <td>Total Number Of Employees In Workerforce Snapshots</td>
                <td>0</td>
               
                </tr>
                <tr>
                <td> Number Of Employees Missing Gender</td>
                <td>0</td>
            
                </tr>
                <tr>
                <td>Number Of Employees Missing Ethnicity</td>
                <td>0</td>
              
                </tr>
                <tr style="border-bottom: 3px solid rgb(41, 161, 194);">
                    <td>Number Of Employees Missing Job Category</td>
                    <td>0</td>
                  
                    </tr>
              </table>
              
        </div>
      
        </div>

    </div>
    <div style="margin-top: 20px;">
        <div class="main-row">
            <div style="width: 33%; display: flex;
            justify-content: center;font-weight: bold; color: #a5abad;font-size: medium;">Survey Breakdown
            </div>
            <div style="width: 33%;display: flex;
            justify-content: center;font-weight: bold; color: #a5abad;font-size: medium">Ethnicity Breakdown</div>
            <div style="width: 33%;display: flex;
            justify-content: center;font-weight: bold; color: #a5abad;font-size: medium">Gender Breakdown</div>
        </div>
        <div class="main-row">
            <div style="width: 33%; display: flex;
            justify-content: center;">No Data Available
            </div>
            <div style="width: 33%;display: flex;
            justify-content: center">No Data Available</div>
            <div style="width: 33%;display: flex;
            justify-content: center">No Data Available</div>
        </div>

    </div>
   <div style="display: flex;
   justify-content: flex-end;margin-top: 20px;"><a href="" style="text-decoration: none;margin-right: 2px;color: rgb(31, 167, 231);">Click here </a>  to see missing data elements</div>
</div>