/* button  */

.save-btn button {
    margin: 0px 0px 30px 0px;
    background: rgba(17, 145, 17, 0.975);
    color: white;
    height: 40px;
  }



  /* tooltip */
  .tooltip {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    /* width: 250px; */
    height: auto;
    font-size: 12px;
    background-color: rgb(53, 53, 53);
    color: #fff;
    text-align: start;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 4;
    top: 150%;
    left: -40%;
    margin-left: 10px;
    white-space: normal;
    line-height: 1.5rem;
    
    
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent rgb(53, 53, 53)transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }