<!-- <p>upload-bulk-file works!</p> -->

<div class="bulk_calculator">
    <div class="close_icon">
        <mat-icon mat-dialog-close>close</mat-icon>
    </div>
    <div class="ichara_bulk_main">
        <h4 class="bulk_ichara">
            Bulk ICHRA Affordability Calculator
        </h4>
        <div class="ichara_calculator">
            <div class="ichra_img">
                <img src="../../../../../../../assets/calculator1.PNG" class="calimg">
            </div>
            <div class="select_content">
                <p>Select a file to upload. The solution will upload the bulk employee file with all the inputs
                    (Employee
                    ID, Employee Name, Plan Start Date, Zip Code, State Code, County, Employee age at Start of Plan,
                    Rate of
                    Pay, W2 Wages) and calculate Minimum Employer Contribution to be affordable.</p>
                <span>File to Upload: * <input type="file"></span>
            </div>
        </div>
        <div class="all_button">
            <div class="upload_btn">
                <button mat-button color="primary">Upload</button>
            </div>
            <div class="basic_btn">
                <button mat-button color="primary">Export Basic Template</button>
                <button mat-button color="primary">Cancel</button>
            </div>
        </div>
    </div>

</div>