.aca_tracking {
  display: flex;
  align-items: center;
  justify-content: end;
}

.select_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_select {
  padding: 35px 30px 40px 0 !important;
}
.select_list span {
  padding-right: 10px;
  font-size: 15px;
  font-style: italic;
  padding-bottom: 5px;
}

.search_btn {
  background-color: #0bad0b99;
  padding: 0px 9px;
  color: #fff;
}

.input_opation {
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 250px;
  border: none;
  outline: none;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 6px 0px;
  border-top: 4px solid transparent;
}
::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}

.input_year {
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 110px;
  border: none;
  outline: none;
}

.input_opation select {
  font-size: 15px;
}

.input_list {
  margin-left: 10px;

  box-sizing: border-box;

  border-radius: 5px;

  width: 45%;

  border: none;

  outline: none;

  margin-top: 40px;
}

.select_list {
  text-align: end;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 40px 40px 40px 0;
}

.list_select {
  padding: 0px 10px 10px 0 !important;
}

.btn33 {
  background: rgba(17, 145, 17, 0.975);

  color: white;
}

.btn34 {
  background: #933405;

  margin-bottom: 40px;

  color: white;
}
.header {
  /* background-color: white; */
  margin: 0;
  padding-top: 6px;
  padding-left: 15px;
  color: #056993;
  text-align: center;
  font-size: 16px;
  /* margin-right: 50%; */
  line-height: 18px;
  /* justify-content: flex-start; */
}


.data-section {
  width: 93%;
  margin: 10px auto;
}

.main-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-row1 {
  width: 100%;
  display: flex;
}

.column1 {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: end;

}

.column2 {
  width: 40%;
  padding: 10px;
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .column1,
  .column2,
  .column3,
  .column4,
  .know_base {
    width: 70%;
  }

  .column3 {
    margin-top: 10px;
  }
}

.column3 {
  width: 15%;
  padding: 10px;
}

.column4 {
  width: 75%;
  padding: 10px;
  margin-top: -11px;
}

.calimg {
  margin-top: 37px;
}

.col4header {
  display: flex;
  justify-content: center;
}

.bookimg {
  margin-right: 10px;
}

#col4txt {
  display: flex;
  justify-content: center;
  max-width: 200px;
  color: gray;
  margin-left: 70px;
  line-height: 25px;
  font-weight: 500;
  font-size: 16px;
}

.main p {
  max-width: 300px;
  color: gray;
  text-align: center;
  line-height: 25px;
  font-weight: 500;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 10px;
}

.base img {
  width: 65px;
  padding-right: 10px;
  height: 50px;
}

.main {
  text-align: center;
}

.know_base {
  font-size: 25px;
  margin: 0;
  color: grey;
  margin-top: 7px;
}

.base {
  display: flex;
  justify-content: center;
  margin-left: -28px;
}

.save-btn {
  display: flex;
  justify-content: center;
}

.save-btn button {
  margin: 0px 30px 30px 0px;
  background: rgba(17, 145, 17, 0.975);
  color: white;
}

.btn1 {
  margin-left: 5px;
  background: rgb(8, 82, 125);
  color: white;
}

.btn2 {
  margin-left: 5px;
  background: rgba(158, 48, 14, 0.607);
  color: white;
}

.fullscreen-dialog {
  max-width: 100% !important;
}

@media screen and (max-width: 600px) {
  .btn1,
  .btn2 {
    margin-top: 9px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 3px solid rgb(41, 161, 194);
  width: 96%;
  margin: 0px auto;
}

th,
td {
  text-align: left;
  padding: 8px;
}

/* tbody tr:nth-child(odd) {
  background-color: #7db8f468;
} */
.display {
  display: flex;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 19px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid gray;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0e5def;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  left: 3.5px;
  top: -1px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter {
  height: 15px;
  /* margin-left: 2px; */
  cursor: pointer;
  /* width: 5px; */
}

.pop {
  position: absolute;
  background: rgb(255, 255, 255);
  height: auto;
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  top: 50px;
}
.sort[data-order="desc"]::after {
  font-family: "Material Icons";
  content: "arrow_upward";
}
.sort[data-order="asc"]::after {
  font-family: "Material Icons";
  content: "arrow_downward";
}


/* mat table */
.demo-table {
  width: 96%;
  margin: 0 auto;
  font-size: 12px;
}
.demo-table table{
  font-size: 12px;

width: 100%;}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  font-size: 12px;

}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  font-size: 12px;

  font-size: 12px;

}

.demo-row-is-clicked {
  font-weight: bold;
  font-size: 12px;

}
.mat-header-cell {
  font-size: 12px;

  border-left: none;
}
th.mat-header-cell {
  font-size: 16px;
  color: black;
  font-size: 12px;

}

.table-header{
  border-bottom: 2px solid rgb(41, 161, 194);
  border-top: 3px solid rgb(41, 161, 194);
  font-size: 12px;

}

.table-row:nth-child(odd){
  background-color: #7db8f468;
  font-size: 12px;

}
td.mat-cell{
  font-size: 12px;

  padding: 10px;
}

