.heading{
    text-align: center;
    margin-top: 30px;
    color: rgb(131, 127, 127);
    
 }
 
 
 .selectCust{

    color: rgb(131, 127, 127);
    
    margin: 20px 20px;
    text-align: center;
    
    }
 table {
    border-collapse: collapse;
    width: 100%;
  
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #7db8f468;
  }
  .display{
    display: flex;
    
  }