<!-- <p>error-modal works!</p> -->
<!-- <p>re-confirm-plan works!</p> -->
<div class="responsive-popup">

    <div class="main-row">
        <div class="column1" style="color: #939596;padding-left: 24px; ">
            <h2 mat-dialog-title style="font-weight: 600;
            font-size: x-large;
            font-stretch: condensed;">{{data.headermsg}}</h2>
        </div>

    </div>
    <hr style="border: 0;border-top: 1px solid #d0c6c6;">
    <mat-dialog-content class="mat-typography" style="margin: 13px 0px; line-height: 23px;">
        <div>
           {{data.bodymsg}}
            <!-- msg -->
        </div>
    </mat-dialog-content>
    <hr style="border: 0;border-top: 1px solid #d0c6c6;">
    <div class="column2" style="padding-right: 24px;">

        <mat-dialog-actions>
            <button  mat-raised-button mat-dialog-close cdkFocusInitial class="btn2">CLOSE</button>
        </mat-dialog-actions>
    </div>
</div>
