::ng-deep .mat-dialog-container{
   
    border-radius: 12px !important;
    overflow: hidden;
  }
  .main-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .main-row1{
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  .column1{
    width: 40%;
    padding: 10px;
      }
  .column2{
    width: 60%;
    padding: 10px;
    margin-top: -40px;
    display: flex;
    justify-content: flex-end;
  }
  .btn2{
    margin-left: 10px;
    background: rgb(230, 77, 31);
    color:white;
    
  }
  .btn1{
    margin-left: 10px;
    background: rgb(39 167 28);
    color:white;
    
  }
  .txtalign{
      text-align: end;
      width: 450px;
  }
  mat-form-field {
    width: 100%;
}
.full-screen-modal .mat-dialog-container  .mat-dialog-content {
  max-width: unset !important;
  width: 100%;
  height: 100%;
   
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    width: 100%;
   
      max-height: unset !important;
   
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
 
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
padding: 6px 0px;
border-top: 4px solid transparent;
}
::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
transform: translateY(0%) !important;
}
.tdata{
  text-align: end;
}
table,tr,td{
  padding: 2px;
}
.dataalign{
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 900px) {
  .btn1{
   background-color: aquamarine;
  }
}
/* @media screen and (max-width: 900px) {
  .responsive-popup{
    width: 70%;
  }
} */
 /* ::ng-deep.mat-dialog-container{
  position:fixed;
  width: 90%;
  height: 90%;
  top:3%;
  bottom: 5%;
  left: 5%;
  margin: 10px auto;
  
} */
::ng-deep .custom-style ::ng-deep.mat-dialog-container{
  position:fixed;
  width: 90%;
  height: 90%;
  top:3%;
  bottom: 5%;
  left: 5%;
  margin: 10px auto;
  background-color: white;
}

.responsive-popup{
  width: 95%;
  margin: 5px auto;
}
#outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60%;
  width: 80%;
  
}
.div {
  width: 90px;
  flex: 0 0 50px;
  
  margin-right:2.5rem;
}

::ng-deep .mat-dialog-content {
  max-height: 75vh;
}
