<!-- <p>employer-data works!</p> -->
<div class="employed_data">
    <div class="content_top">
        <h5>Employer Name</h5>
        <h6>UAT - 100</h6>
    </div>
    <h3 class="marked">Fields marked with <b>*</b> are mandatory</h3>
    <div class="date_pages">
        <mat-grid-list cols="3">
            <div class="pages_main">
                <mat-grid-tile>
                    <form>
                        <div class="emp_name">
                            <span>Employer Name: <b>*</b></span>
                            <input matInput value="UAT-100">
                        </div>
                        <div class="emp_name">
                            <span>Employer Identificattion Number (EIN): <b>*</b></span>
                            <input matInput value="45-454661">
                        </div>
                        <div class="emp_name">
                            <span>Address 1:</span>
                            <input matInput value="1 Main Street">
                        </div>
                        <div class="emp_name">
                            <span>Address 2:</span>
                            <input matInput value="">
                        </div>
                        <div class="emp_name">
                            <span>City:</span>
                            <input matInput value="springfield">
                        </div>
                        <div class="emp_name">
                            <span>State:</span>
                            <input matInput value="PA">
                        </div>
                        <div class="emp_name">
                            <span>EZip Code:</span>
                            <input matInput value="12133">
                        </div>
                    </form>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="table_main">
                        <form>
                            <table class="table_from">
                                <tr>
                                    <td colspan="7">
                                        Part III ALE member Information on 1094-C
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2"></td>
                                    <td colspan="2">MEC Offer Indicator</td>
                                    <td rowspan="2">Full-Time Employee Count</td>
                                    <td rowspan="2">Total Employee Count</td>
                                    <td rowspan="2">Aggregated Group Indicator</td>
                                    <td rowspan="2">Section 4980H transtion Relief Indicator </td>
                                </tr>
                                <tr>
                                    <td>Yes</td>
                                    <td>No</td>
                                </tr>

                                <tr>
                                    <td>All 12 Month</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value=""></td>
                                    <td> <input matInput value=""></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jan</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="81"></td>
                                    <td> <input matInput value="169"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Feb</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="81"></td>
                                    <td> <input matInput value="168"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mar</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="81"></td>
                                    <td> <input matInput value="167"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Apr</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="82"></td>
                                    <td> <input matInput value="1"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>May</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="73"></td>
                                    <td> <input matInput value="158"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jun</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="74"></td>
                                    <td> <input matInput value="158"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="73"></td>
                                    <td> <input matInput value="157"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aug</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="71"></td>
                                    <td> <input matInput value="154"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sep</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="71"></td>
                                    <td> <input matInput value="154"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Oct</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="71"></td>
                                    <td> <input matInput value="154"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nav</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="16"></td>
                                    <td> <input matInput value="154"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dec</td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td> <input matInput value="16"></td>
                                    <td> <input matInput value="153"></td>
                                    <td>
                                        <mat-checkbox class="example-margin"></mat-checkbox>
                                    </td>
                                    <td>
                                        <select matNativeControl required>
                                            <option></option>
                                        </select>
                                    </td>
                                </tr>

                            </table>
                        </form>
                    </div>




                </mat-grid-tile>
                <mat-grid-tile>
                    <form class="third_part">
                        <div class="select_form">
                            <span>What tracking methodology did you apply? <img src="../../../../assets/quesion.png"
                                    alt=""></span>
                            <div class="input_main">
                                <select matNativeControl required>
                                    <option>Select Tracking Method </option>
                                </select>
                            </div>
                        </div>
                        <div class="select_form">
                            <span>Measurement Period Dates: <img src="../../../../assets/quesion.png" alt=""></span>
                            <div class="input_main">
                                <div class="main_input">
                                    <input matInput value="45-454661">
                                    <input matInput value="45-454661">
                                </div>
                            </div>
                        </div>
                        <div class="select_form">
                            <span>Measurement Period Dates: <img src="../../../../assets/quesion.png" alt=""></span>
                            <div class="input_main">
                                <div class="main_input">
                                    <input matInput value="45-454661">
                                    <input matInput value="45-454661">
                                </div>
                            </div>
                        </div>
                        <div class="select_form">
                            <span>Measurement Period Dates: <img src="../../../../assets/quesion.png" alt=""></span>
                            <div class="input_main">
                                <div class="main_input">
                                    <input matInput value="45-454661">
                                    <input matInput value="45-454661">
                                </div>
                            </div>
                        </div>
                        <div class="select_form">
                            <span>Did you provide 1095-C Forms to your employees for the reporting year? <img
                                    src="../../../../assets/quesion.png" alt=""></span>
                            <div class="input_main">
                                <select matNativeControl required>
                                    <option>No </option>
                                </select>
                            </div>
                        </div>

                        <div class="select_form">
                            <span>What date was fulfillment completed? <img src="../../../../assets/quesion.png"
                                    alt=""></span>
                            <div class="input_main">
                                <input matInput value="">
                            </div>
                        </div>
                        <div class="select_form">
                            <span>How did you file with the IRS ?</span>
                            <div class="input_main">
                                <select required>
                                    <option> Electronically </option>
                                </select>
                            </div>
                        </div>
                        <div class="select_form">

                            <span>What date was your IRS filling completed? <img src="../../../../assets/quesion.png"
                                    alt=""></span>
                            <div class="input_main">
                                <input matInput value="">
                            </div>
                        </div>
                        <div class="select_form">
                            <span>What was the receipt ID provided by the IRS?<img src="../../../../assets/quesion.png"
                                    alt=""></span>
                            <div class="input_main">
                                <input matInput value="">
                            </div>
                        </div>
                        <div class="select_form">
                            <span>What was the most recent status related to your filling provided by the IRS?
                            </span>
                            <div class="input_main">
                                <select matNativeControl required>
                                    <option> Accepted </option>
                                </select>
                            </div>
                        </div>
                        <div class="select_form">
                            <span>Forms E-filled<img src="../../../../assets/quesion.png" alt=""></span>
                            <div class="input_main">
                                <input matInput value="85">
                            </div>
                        </div>
                        <div class="select_form">
                            <button class="btn_save" mat-button>Save</button>
                        </div>
                    </form>


                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
</div>
<!-- 

<div>
    <div class="employer-content">
        <h2 style="font-weight: bold;">Employer Data</h2>
        <h4 style="font-weight: bold;">Demo - Pope's EEDOC</h4>
    </div>

    <div class="data-section">
        <div style="font-weight: 600;">Fields marked with <span style="color:red">*</span> are mandatory:</div>
        <div class="employer-data">
            <div id="stylized" class="myform">
                <div class="main-row">
                    <div class="column1">
                        <form>
                            <div>Employer Name:<span style="color:red">*</span></div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Demo Pope's EEOC">
                            </mat-form-field>
                            <div>Employer Identification Number (EIN):<span style="color:red">*</span></div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="11-11111111">
                            </mat-form-field>
                            <div>Address 1:</div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="123 Ashele Lane" style="color: white;">
                            </mat-form-field>
                            <div>Address 2:</div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="123 Ashele Lane">
                            </mat-form-field>
                            <div>City:</div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="New Orleans">
                            </mat-form-field>
                            <div>State:</div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="LA">
                            </mat-form-field>
                            <div>Country:<span style="color:red">*</span></div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Orleans">
                            </mat-form-field>
                            <div>Zip Code:</div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="70119">
                            </mat-form-field>
                            <div>NAICS:<span style="color:red">*</span></div>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Please , Choose a NAICS">
                                    <mat-option value="primary">Primary</mat-option>
                                    <mat-option value="accent">Accent</mat-option>
                                    <mat-option value="warn">Warn</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div style="width: 79%;">Select a pay period day between October 1st and December 31st to
                                apply as your Workforce Snapshot.
                                <div class="arrowpopup" >
                                    <mat-icon style="font-size: 12px;"  
                                >help</mat-icon>
                                    <span class="tooltiptext" id="tooltipdemo">count the total number of employees for that year's EEO-1 report. The EEO-1 has always used this  “workforce snapshot” approach, which gives employers a choice but freezes EEO-1 employment numbers as of the chosen pay period. In sum, while employers will count their employees during a pay period between October 1st and December 31st, they will report W-2 income and hours-worked data for these employees for the entire year ending December 31st.
                                        </span></div>
                                
                            </div>
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </form>

                        
                            

                    </div>
                    <div class="column2">
                        <div class="mrgn-btm-20">
                            <b>Not sure what report type to select? </b>
                            <button mat-raised-button style="background: green;color:white" >Click Here</button>
                        </div>
                        <div class="mrgn-btm-20">
                            <p><b>Check the box that applies :</b></p>
                            <div style="width: 79%;">
                                <p>
                                    <mat-checkbox class="example-margin">Single-establishment Employer Report
                                        
                                        <div class="arrowpopup" ><mat-icon style="font-size: 12px;">help</mat-icon><span class="tooltiptext" id="tooltipdemo">Employers that do business at only one<br> establishment in one location should select this option.</span></div>
                                       
                                    </mat-checkbox>
                                </p>
                            </div>
                           
                        </div>
                        <div class="mrgn-btm-40">
                            <p><b>Multi-establishment Employer</b></p>
                            <div>
                                <mat-checkbox class="example-margin">Consolidation Report (Required) 
                                        <div class="arrowpopup" ><mat-icon
                                            style="font-size: 12px;" >help</mat-icon><span class="tooltiptext" id="tooltipdemo">Select this option if this report is to act as the<br> consolidated report for the Employer, its multiple <br>establishments and/or its subsidiaries.</span></div>
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin">Headquarters Unit Report (Required) 
                                        <div class="arrowpopup" ><mat-icon
                                            style="font-size: 12px;" >help</mat-icon><span class="tooltiptext" id="tooltipdemo">Select this option if this location is the headquarters<br> for the company and its establishments and/or all subsidiaries.</span></div>
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin">Individual Establishment Report 
                                        <div class="arrowpopup" ><mat-icon
                                            style="font-size: 12px;">help</mat-icon><span class="tooltiptext" id="tooltipdemo">Select this option if the employer has multiple establishments <br>and this is one of the establishments required to report because <br>they have 50 or more employees.</span></div>
                                </mat-checkbox>
                            </div>
                        </div>

                        <p><b>EEOC Company Number and Unit Number are optional.</b></p>
                        <div>
                            <div>Enter the EEOC assigned company number :</div>
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div>
                            <div>Enter the EEOC assigned unit number:</div>
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div>
                            <div>Was an EEO-1 report filed for this establishment last year?</div>
                            <p>
                                <mat-checkbox class="example-margin">Yes</mat-checkbox>&nbsp;&nbsp;<mat-checkbox
                                    class="example-margin">
                                    No</mat-checkbox>
                            </p>
                        </div>
                        <div>
                            <p>Are there additional establishments to report for?<br>
                                <mat-form-field appearance="outline" >
                                    <mat-select placeholder="No" >
                                        <mat-option value="yes">Yes</mat-option>
                                        <mat-option value="no">No</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </p>
                        </div>
                        <div >
                            <div >
                                <button mat-raised-button class="establishment-btn" >Add Establishment</button>
                                
                            </div>

                            
                        </div>
                    </div>
                    <div class="column3">
                        <p><b>Check the boxes that applies :</b></p>
                        <ol>
                            <li>
                                <div>
                                    Does the entire company have at least 100 <br>employees in the payroll period for
                                    which you are reporting?
                                </div>
                                <p>
                                    <mat-checkbox class="example-margin">Yes</mat-checkbox>&nbsp;&nbsp;<mat-checkbox
                                        class="example-margin">
                                        No</mat-checkbox>
                                </p>
                            </li>
                            <li>
                                <div>
                                    Is your company affiliated through common<br> ownership and/or centralized
                                    management with other entities in an enterprise with a total <br>employment of 100
                                    or more?
                                </div>

                                <p>
                                    <mat-checkbox class="example-margin">Yes</mat-checkbox>&nbsp;&nbsp;<mat-checkbox
                                        class="example-margin">
                                        No</mat-checkbox>
                                </p>
                            </li>
                            <li>
                                <div>
                                    Does the company or any of its establishments (a) have 50 or more employees AND (b)
                                    is not exempt as provided by 41 CFR 60-1.5, AND either (1) is a prime government
                                    contractor or first-tier subcontactor, and has a contract, subcontract, or purchase
                                    order amounting to $50,000 or more, or (2) serves as a depository of Government
                                    funds in any amount or is a financial institution which is an issuing and paying
                                    agent for U.S. Savings Bonds and Savings Notes?
                                </div>
                                <p>
                                    <mat-checkbox class="example-margin">Yes</mat-checkbox>&nbsp;&nbsp;<mat-checkbox
                                        class="example-margin">
                                        No</mat-checkbox>
                                </p>
                            </li>
                        </ol>




                        <div
                            style="border-style:solid ;border-radius: 22px;border-color:rgba(12, 141, 240, 0.596) ;padding: 7px;">
                            <mat-checkbox class="example-margin"></mat-checkbox>
                            I verify that all Gender and Ethnicity data I import into the solution has been
                            self-identified or captured within the regulations provided by the Equal Employment
                            Opportunity Commission.
                        </div>
                        
                    </div>
                </div>
                <div class="save-btn">
                    <button mat-raised-button >Save</button>
                </div>
            </div>
        </div>
    </div>
</div> -->