<div>
    <div class="employer-content">
        <h2 style="font-weight: bold;">Employer Data</h2>
        <h4 style="font-weight: bold;">Demo - Pope's EEDOC</h4>
    </div>

    <div class="data-section">
        <div style="font-weight: 600;">Fields marked with <span style="color:red">*</span> are mandatory:</div>
        <div class="employer-data">
            <div id="stylized" class="myform">
                <div class="main-row">
                    <div class="column1">
                        <form>
                            <div>Employer Name:<span style="color:red">*</span></div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Demo Pope's EEOC">
                            </mat-form-field>
                            <div>Employer Identification Number (EIN):<span style="color:red">*</span></div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="11-11111111">
                            </mat-form-field>
                            <div>Address 1:</div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="123 Ashele Lane" style="color: white;">
                            </mat-form-field>
                            <div>Address 2:</div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="123 Ashele Lane">
                            </mat-form-field>
                            <div>City:</div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="New Orleans">
                            </mat-form-field>
                            <div>State:</div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="LA">
                            </mat-form-field>
                            <div>Country:<span style="color:red">*</span></div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Orleans">
                            </mat-form-field>
                            <div>Zip Code:</div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="70119">
                            </mat-form-field>
                            <div>NAICS:<span style="color:red">*</span></div>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Please , Choose a NAICS">
                                    <mat-option value="primary">Primary</mat-option>
                                    <mat-option value="accent">Accent</mat-option>
                                    <mat-option value="warn">Warn</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div style="width: 79%;">Select a pay period day between October 1st and December 31st to
                                apply as your Workforce Snapshot.
                                <div class="arrowpopup" >
                                    <mat-icon style="font-size: 12px;"  
                                >help</mat-icon>
                                    <span class="tooltiptext" id="tooltipdemo">count the total number of employees for that year's EEO-1 report. The EEO-1 has always used this  “workforce snapshot” approach, which gives employers a choice but freezes EEO-1 employment numbers as of the chosen pay period. In sum, while employers will count their employees during a pay period between October 1st and December 31st, they will report W-2 income and hours-worked data for these employees for the entire year ending December 31st.
                                    </span>
                                </div>
                                
                            </div>
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </form>

                        
                            

                    </div>
                    <div class="column2">
                        <div class="mrgn-btm-20">
                            <b>Not sure what report type to select? </b>
                            <button mat-raised-button style="background: green;color:white" (click)="openreportDialog()">Click Here</button>
                        </div>
                        <div class="mrgn-btm-20">
                            <p><b>Check the box that applies :</b></p>
                            <div style="width: 79%;">
                                <p>
                                    <mat-checkbox class="example-margin">Single-establishment Employer Report
                                        
                                        <div class="arrowpopup" ><mat-icon style="font-size: 12px;">help</mat-icon><span class="tooltiptext" id="tooltipdemo">Employers that do business at only one<br> establishment in one location should select this option.</span></div>
                                       
                                    </mat-checkbox>
                                </p>
                            </div>
                           
                        </div>
                        <div class="mrgn-btm-40">
                            <p><b>Multi-establishment Employer</b></p>
                            <div>
                                <mat-checkbox class="example-margin">Consolidation Report (Required) 
                                        <div class="arrowpopup" ><mat-icon
                                            style="font-size: 12px;" >help</mat-icon><span class="tooltiptext" id="tooltipdemo">Select this option if this report is to act as the<br> consolidated report for the Employer, its multiple <br>establishments and/or its subsidiaries.</span></div>
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin">Headquarters Unit Report (Required) 
                                        <div class="arrowpopup" ><mat-icon
                                            style="font-size: 12px;" >help</mat-icon><span class="tooltiptext" id="tooltipdemo">Select this option if this location is the headquarters<br> for the company and its establishments and/or all subsidiaries.</span></div>
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin">Individual Establishment Report 
                                        <div class="arrowpopup" ><mat-icon
                                            style="font-size: 12px;">help</mat-icon><span class="tooltiptext" id="tooltipdemo">Select this option if the employer has multiple establishments <br>and this is one of the establishments required to report because <br>they have 50 or more employees.</span></div>
                                </mat-checkbox>
                            </div>
                        </div>

                        <p><b>EEOC Company Number and Unit Number are optional.</b></p>
                        <div>
                            <div>Enter the EEOC assigned company number :</div>
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div>
                            <div>Enter the EEOC assigned unit number:</div>
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div>
                            <div>Was an EEO-1 report filed for this establishment last year?</div>
                            <p>
                                <mat-checkbox class="example-margin">Yes</mat-checkbox>&nbsp;&nbsp;<mat-checkbox
                                    class="example-margin">
                                    No</mat-checkbox>
                            </p>
                        </div>
                        <div>
                            <p>Are there additional establishments to report for?<br>
                                <mat-form-field appearance="outline" >
                                    <mat-select placeholder="No" [(value)]="selectedvalue">
                                        <mat-option value="yes">Yes</mat-option>
                                        <mat-option value="no">No</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </p>
                        </div>
                        <div *ngIf="selectedvalue=='yes'">
                            <div >
                                <button mat-raised-button class="establishment-btn" (click)="openDialog()">Add Establishment</button>
                                
                            </div>

                            
                        </div>
                    </div>
                    <div class="column3">
                        <p><b>Check the boxes that applies :</b></p>
                        <ol>
                            <li>
                                <div>
                                    Does the entire company have at least 100 <br>employees in the payroll period for
                                    which you are reporting?
                                </div>
                                <p>
                                    <mat-checkbox class="example-margin">Yes</mat-checkbox>&nbsp;&nbsp;<mat-checkbox
                                        class="example-margin">
                                        No</mat-checkbox>
                                </p>
                            </li>
                            <li>
                                <div>
                                    Is your company affiliated through common<br> ownership and/or centralized
                                    management with other entities in an enterprise with a total <br>employment of 100
                                    or more?
                                </div>

                                <p>
                                    <mat-checkbox class="example-margin">Yes</mat-checkbox>&nbsp;&nbsp;<mat-checkbox
                                        class="example-margin">
                                        No</mat-checkbox>
                                </p>
                            </li>
                            <li>
                                <div>
                                    Does the company or any of its establishments (a) have 50 or more employees AND (b)
                                    is not exempt as provided by 41 CFR 60-1.5, AND either (1) is a prime government
                                    contractor or first-tier subcontactor, and has a contract, subcontract, or purchase
                                    order amounting to $50,000 or more, or (2) serves as a depository of Government
                                    funds in any amount or is a financial institution which is an issuing and paying
                                    agent for U.S. Savings Bonds and Savings Notes?
                                </div>
                                <p>
                                    <mat-checkbox class="example-margin">Yes</mat-checkbox>&nbsp;&nbsp;<mat-checkbox
                                        class="example-margin">
                                        No</mat-checkbox>
                                </p>
                            </li>
                        </ol>




                        <div
                            style="border-style:solid ;border-radius: 22px;border-color:rgba(12, 141, 240, 0.596) ;padding: 7px;">
                            <mat-checkbox class="example-margin"></mat-checkbox>
                            I verify that all Gender and Ethnicity data I import into the solution has been
                            self-identified or captured within the regulations provided by the Equal Employment
                            Opportunity Commission.
                        </div>
                        
                    </div>
                </div>
                <div class="save-btn">
                    <button mat-raised-button >Save</button>
                </div>
            </div>
        </div>
    </div>
</div>