.header{
    /* background-color: white; */
    color: #1591b8;
    text-align: center;
  }
  .save-btn{
    display: flex;
    justify-content: center;
    
  }
  .save-btn button {
    margin: 0px 30px 30px 0px;
    background: green;
    color:white;
  }

  .preview_main{
    width: 90%;
    margin: auto;
  }

  .heading-two h4{
    text-align: center;
    color: grey;
    font-size: 18px;
    padding-top: 20px;   
}

.button_main{
  text-align: end;
}
.filter_image{
  width: 12px;
  padding-right: 10px;
}

.button_main button:first-child{
  margin-right: 10px;
  background: rgb(8, 82, 125);
  color: white;
}

.button_main button:last-child{
  background: rgb(39 167 28);
  color: white;
}

.folowing span{
  color: grey;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  display: block;
}


.company{
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;

}
.company:last-child{
  border: none;
}

.company > h6{
  width: 50%;
  font-size: 12px;
  font-weight: 500;
}

.main_button{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.main_button > div{
  width: 25%;
}
.main_button span{
  background: #1d97f3ba;
  color: #fff;
  max-width: 275px;
  padding: 0 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.preview_documents{
  margin-top: 50px;
}

.preview_documents h3{
  color: grey;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.preview_documents span{
  margin-top: 5px;
  color: rgba(0,0,0,0.7);
  font-size: 15px;
}

.breaks_table{
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}
.breaks_table table{
  width: 100%;
  margin: auto;
  box-shadow: none;
  border-bottom: 2px solid rgb(41, 161, 194);
  border-top: 2px solid rgb(41, 161, 194);
}

.breaks_table table tr th{
  border-bottom: 2px solid rgb(41, 161, 194);
  border-left: none;
}

.breaks_table table tr td{
  font-size: 12px;
}

.breaks_table table tr th{
  font-size: 12px;
  color: black;
  font-weight: 500;
}

.breaks_table table tr th{
  max-width: 100px;
}



@media (max-width:1600px){
  .main_button > div{
    width: 24%;
  }

  .main_button span{
    padding: 0 10px;
    font-size: 12px;
  }
}

