<form (ngSubmit)="f.form.valid " class="sign-in-form" name="form" #f="ngForm" novalidate>
    <mat-card>
      <mat-card-title>
        <mat-icon>login</mat-icon>
        Forgot-Password
      </mat-card-title>
      <!-- <mat-card-subtitle>Please sign-in to continue.</mat-card-subtitle> -->
      <mat-card-content>
  
        <mat-form-field fxFlexFill color="accent">
          <input matInput [disabled]="loading"
                [(ngModel)]="email"
                
                 name="emailAddress"
                 placeholder="Email Address"
                 type="email"
                 required
                 #emailAddress="ngModel"
                />
          <mat-error>You must provide your email address.</mat-error>
        </mat-form-field>
      
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [disabled]="(f.form.invalid || loading)">
          <mat-icon>login</mat-icon> Submit
        </button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </form>
  
