form.sign-in-form mat-card { max-width: 400px; margin: 15em auto; text-align: center; }
form.sign-in-form mat-form-field { display: block; }
form.sign-in-form mat-card-actions { text-align: end; }
form.sign-in-form mat-card-title { text-align: left; margin-bottom: 20px; }